{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Categories</h2>

    {% comment %} <ul class="list-group"> {% endcomment %}
    
        {% for category in all_categories %}
        <ul class="list-group category-details">
            {% comment %} <li>{{ category }}</li> {% endcomment %}
            <li class="list-group-item"><a href="{% url 'category' category %}">{{ category }}</a></li>
        </ul>
        {% endfor %}

    {% comment %} </ul> {% endcomment %}

    

{% endblock %}